<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/main.css">
    <title>{{title}}</title>


    <!-- Bootstrap core CSS -->
    <link href="../bootstrap-3.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/offcanvas.css" rel="stylesheet">
    <link href="../bootstrap-3.3.2/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../bootstrap-3.3.2/dist/js/bootstrap.min.js"></script>
    
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

      <!-- 부가적인 테마 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
  </head>
  
  
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://15.152.4.142:8080/">Scoreloader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    

    <div class="container">
      
      <div class="row row-offcanvas row-offcanvas-right">
        
  

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Welcome Scoreloader!</h1>
            <div class="profile">
              {% if user and user.id %}
                <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
                <div class="half">
                  <div>팔로잉</div>
                  <div class="count following-count">{{followingCount}}</div>
                </div>
                <div class="half">
                  <div>팔로워</div>
                  <div class="count follower-count">{{followerCount}}</div>
                </div>
              <input id="my-id" type="hidden" value="{{user.id}}">
              <a id="my-profile" href="/profile" class="btn">내 프로필</a>
              <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
            {% else %}
              <form id="login-form" action="/auth/login" method="post">
                <div class="input-group">
                  <label for="email">이메일</label>
                  <input id="email" type="email" name="email" required autofocus>
                </div>
                <div class="input-group">
                  <label for="password">비밀번호</label>
                  <input id="password" type="password" name="password" required>
                </div>
                <a id="join" href="/join" class="btn">회원가입</a>
                <button id="login" type="submit" class="btn">로그인</button>
                <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
              </form>
            {% endif %}
            
            <p>Hava a nice day.</p>
          </div>
          <div class="container">
            <!-- <div class="profile-wrap"> -->
              
              {% block content %}
              {% endblock %}
            <!-- </div> -->
          </div>
          </div>
          
          

          
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h3>스물, 그리고 스물다섯</h3>
              <p>해당 사이트는 개발자의 티스토리 블로그입니다. 이곳에서 개발자가 어떤것에 관심이 있는지, 개발자의 트러블 슈팅을 볼 수 있어요!</p>
              <p><a class="btn btn-default" href="https://nan-sso-gong.tistory.com/" role="button">View details »</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h3>Github</h3>
              <p>개발자의 GitHub 입니다. 개발자가 어떤 프로젝트를 진행해 왔는지 확인할 수 있어요!<br><br> </p>
              <p><a class="btn btn-default" href="https://github.com/mugju" role="button">View details »</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
   
  </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
     <footer>
      Made by&nbsp;
      <a href="https://github.com/mugju/scoreloader" target="_blank">DongD</a>
    </footer>
    {% block script %}
    {% endblock %}
  </body>
</html>

